# ide files
.idea/

# build directory
build/

# config.yml file (runtime config at repo root only)
/config.yml

# generated ca certificate directory
ca/

# internal debug files (developer only)
cmd/debug/
